.jumbotron{
    background-image: url(img/bg.jpg);
    background-size: cover;
  background-position: top center;
  height: auto;
  width:100%;
}
.bg-grey {
    background-color: #f6f6f6;
  }
.glyphicon {
    font-size: 100px;
}
.feature-icon:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight:bold;
  cursor: pointer;
}
.feature-icon .fa{
    font-size: 100px;
    color: grey;
    margin: 30px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.border{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card{
  border: none !important;
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  font-weight:bold;
  cursor: pointer;
}
.card-text{
  text-align: center;
}
.card-img-top{
  margin: 0 auto;
  height:170px;
  width:100% !important;
}

